<li class="party-track">
	<span class="user"><img src="/user/{{userId}}/img" /></span>
	<span class="name"><a href="{{trackUri}}">{{ title }}</a></span>
	<span class="etc"><small>by</small> {{artist}}</span>
	<span class="pull-right">{{votes}} <small>votes</small></span>
</li>
