<article class="party">
    <h3 class="title"><span class="party-name">{{ name }}</span>
        <small class="details"><span class="track-count">0</span> tracks &bull; <span class="user-count">{{ user_count }}</span> guests</small>
    </h3>
    <form class="search">
        <input type="text" class="sp-search input-xlarge" autocorrect="off" autocapitalize="off">
    </form>
    <ul class="queue list"></ul>
</article>