<div class="snapshot">
    <div class="well" style="margin-top:20px">
        <div class="previewMobile hide">
            <h5>To sign in, we're gonna take a screenshot of you. <em>No joke!</em></h5>
            <input class="btn take-picture" type="button" value="Let's do it!" />
            <input class="camera hide" type="file" name="file" accept="image/*" capture="camera" />
        </div>
        <div class="preview hide">
            <h5>To sign in, we're gonna take a screenshot of you. <em>No joke!</em></h5>
            <video width="640"></video>
            <div class="button-row">
                <button class="take btn btn-large btn-block">Oh snap!</button>
            </div>
        </div>
        <div class="upload hide">
            <h5>Here we need to do photo upload.</h5>
        </div>
        <div class="view hide">
            <h5>To save your image, crop it and click "Party On!"</h5>
            <div class="canvas-wrapper"><canvas width="640" height="480"></canvas></div>
            <div class="button-row">
                <button class="upload btn btn-large btn-primary pull-right">Party On!</button>
                <button class="retake btn btn-large pull-left">Retake</button>
                <div class="clearfix">
            </div>
        </div>
    </div>
</div>