html {
    text-shadow: none;
}
ul {
    list-style: none;
}

article {
    border-radius: 8px;
    margin-top: 5em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #ECF0F1;
    margin-left: 30px;
}

article p {
    padding: 10px 22px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}

.title {
    border-radius: 6px 6px 0 0;
    padding: 1em;
    margin-bottom: 0;
    color: white;
}

    .title small {
        color: #ECF0F1;
        margin-left: 30px;
    }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
    .list li {
        padding: 1.5em 1.714em;
        background-color: #ECF0F1;
        margin-top: 2px;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }
    .list li:first-child {
        margin-top: 0;
    }
    .list li:last-child {
        border-radius: 0 0 6px 6px;
    }
    .list li:hover {
        background-color: #F5F5F5;
    }
        .list .name {

        }
        .list .etc {
            color: #BDC3C7;
            margin-left: 1em;
        }
        .list time {
            float: right;
        }
        .list .user {
            padding-right: 5px;
        }
            .list .user img {
                width: 44px;
                height: 44px;
            }


.form-horizontal .control-group {
    margin-bottom: 0;
}
.form-horizontal .control-label {
    width: 50px;
    line-height: 31px;
}
.form-horizontal .controls {
    margin-left: 70px;
}
.form-horizontal .form-actions {
    padding-left: 96px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #8E44AD;
}

.icon {
    margin-top: 3px;
}


.new {
    background-color: #8E44AD;
}
    .new .title {
        background-color: #9B59B6;
    }
    .new .list li {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .new input {
        height: 40px;
        margin-bottom: 0;
    }
    .form-actions {
        opacity: 0;
    }
    .form-actions.show {
        opacity: 1;
    }
        .form-actions [type="submit"]:hover, .form-actions [type="submit"]:active {
            background-color: #8E44AD;
        }

.party {
    background-color: #C0392B;
}
    .party .title {
        background-color: #E74C3C;
    }

    .party .uri  {
        min-width: 250px;
    }

.history {
    background-color: #16A085;
}
    .history .title {
        background-color: #1ABC9C;
    }
    .history li {
        background-color: #ECF0F1;
    }

input[readonly].url-copy {
    color: #666666;
}