<div class="container">
	<article class="new" style="margin-top:2em;">
		<h3 class="title">Party On! <small class="details">a hack by Paul Marbach and Tucker Bickler</small></h3>
		<p>To use, launch our <a href="spotify:app:partyon">Spotify App</a> and make a party! To join a party in progress, you need the link from the Party Planner.</p>
		<p>Built for the <a href="http://www.hackathon.io/artist-s-hack">Spotify Artist's Hack</a>, Sunday, March 10, 2013, Austin TX.</p>
	</article>
</div>