<div class="container">
	<div class="row">
		<div class="well span8 offset2">
			<h1>Party On!</h1>
			<h5>a youngins hack</h5>
			<p>To use this, you'll need to join a party. Create a party from Spotify and use the link from there to get it going!</p>
		</div>
	</div>
</div>
