<div class="container">
	<article class="new" style="margin-top:2em;">
		<h3 class="title">Party On! <small class="details">a hack by Paul Marbach and Tucker Bickler</small></h3>
		<p>To sign in, we're gonna take a screenshot of you. <em>No joke!</em></p>
		<p>To use, launch our Spotify App and make a party! To join a party in progress, you need the link from the Party Planner.</p>
	</article>
</div>