<h1>Party On!</h1>

<ul class="panes">
    <li class="loading-container"></li>
    <li class="party-container"></li>
</ul>

<script type="text/javascript">
	window.app = { 
		party_id: <%= party.id %>,
		user_id: <%= user.id %>
	}
</script>